.Head{background-color:brown;height: 100px;}
.text{color: white;}
.button{margin-left: 1300px;margin-top:-50px;color: bisque;}
.home{text-decoration: none;color: aliceblue;}
.about{text-decoration: none;color: aliceblue;margin-left: 10px;}